.gridContainer {
    display: flex;
    max-width: 800px;
    height: 800px;
    border: 2px solid black;
    align-items: center;
    margin: auto;
}

.gridRow {
    width: 800px;
    flex: auto;
}

.gridTile {
    background-color: aquamarine;
    flex: auto;
    border: 1px solid gray;
}

button {
    display: block;
    margin: 20px auto;
    padding: 8px 16px;
    font-size: 16px;
}

